* {
  box-sizing: border-box;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  background-color: #e5f2fe;
  background-image: url("../img/bg-lines.svg");
  background-size: cover;
  font-family: "Poppins", sans-serif;
}

img {
  display: block;
}

a {
  text-decoration: none;
  display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

li {
  line-height: 100%;
}

button {
  padding: 0;
  border: 0;
  background: none;
  cursor: pointer;
}
